@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}
body {
  @apply bg-background text-textColor;
}
/* Custom Portfolio Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* background color */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6366f1, #22d3ee);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4f46e5, #06b6d4);
}
